<div class="page-content-wrapper">
    <div class="container">
        <!--           ¬ hm-pricing__list           /-->
        <div class="grid-row section-pricing__list row">
            <div class="col-xs-1 grid-sizer"></div>
            <!--           ¬ lg banner           /-->
            <div class="col-xs-12 col-sm-12 col-lg-6 grid-item">
                <div class="pricing-banner hover-anim">
                    <div class="pricing-banner__top"><a ui-sref="home.products.mufflers-stainless" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-banner__img"><img src="components/products/images/main_mufflers.jpg" alt="" style="width: auto; height: 310px" class="img-responsive"></figure>
                    </div>
                    <div class="pricing-banner__info"><span class="cost">Mufflers</span></div>
                </div>
            </div>
            <!--           end lg banner           /-->

            <div class="col-xs-12 col-sm-12 col-lg-6 grid-item">
                <div class="pricing-banner hover-anim">
                    <div class="pricing-banner__top"><a ui-sref=".exhausts-specialized" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-banner__img"><img src="components/products/images/tips.jpg" style="width: 100%; height: 310px" alt="" class="img-responsive"></figure>
                    </div>
                    <div class="pricing-banner__info"><span class="cost">Exhuast Tips</span></div>
                </div>
            </div>

            <!--           ¬ sm-4 banners           /-->
            <div class="col-xs-12 col-md-6 col-lg-4 grid-item">
                <div class="pricing-banner hover-anim">
                    <div class="pricing-banner__top"><a ui-sref=".flexPipes" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-banner__img"><img src="components/products/images/flex_pipes.png" style="width: 100%; height: 240px" alt="" class="img-responsive"></figure>
                    </div>
                    <div class="pricing-banner__info"><span class="cost">Flex Pipes</span></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 grid-item">
                <div class="pricing-banner hover-anim">
                    <div class="pricing-banner__top"><a ui-sref=".hangersInsulators" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-banner__img"><img src="components/products/images/exhaustInsulators.jpg" style="width: 100%; height: 240px" alt="" class="img-responsive"></figure>
                    </div>
                    <div class="pricing-banner__info"><span class="cost">Exhaust Hangers/Insulators</span></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 grid-item">
                <div class="pricing-banner hover-anim">
                    <div class="pricing-banner__top"><a ui-sref=".exhaustClamps" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-banner__img"><img src="components/products/images/clamps.jpg" style="width: 100%; height: 240px" alt="" class="img-responsive"></figure>
                    </div>
                    <div class="pricing-banner__info"><span class="cost">Exhaust Clamps</span></div>
                </div>
            </div>
            <!--           end sm-4 banners           /-->

            <!--           ¬ lg banner           /-->
            <div class="col-xs-12 col-sm-12 col-lg-6 grid-item">
                <div class="pricing-banner hover-anim">
                    <div class="pricing-banner__top"><a ui-sref=".catConverters" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <figure class="pricing-banner__img"><img src="components/products/images/catalytic-converter.jpg" style="width: 100%; height: 310px" alt="" class="img-responsive"></figure>
                    </div>
                    <div class="pricing-banner__info"><span class="cost">Catalytic Converters</span></div>
                </div>
            </div>
            <!--           end lg banner           /-->

            <!--           ¬  blog cards           /-->
            <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                <div class="pricing-card hover-anim"><a ui-sref=".accessories" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                    <figure class="pricing-card__thumb"><img src="theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                    <div class="pricing-card__body">
                        <div class="expand-title"><span class="cost">Gaskets</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                <div class="pricing-card hover-anim"><a ui-sref=".other-parts" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                    <figure class="pricing-card__thumb"><img src="theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                    <div class="pricing-card__body">
                        <div class="expand-title"><span class="cost">Spark Arrestors</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                <div class="pricing-card hover-anim"><a ui-sref=".astros" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                    <figure class="pricing-card__thumb"><img src="theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                    <div class="pricing-card__body">
                        <div class="expand-title"><span class="cost">Actros Benz Parts</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                <div class="pricing-card hover-anim"><a ui-sref=".accessories" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                    <figure class="pricing-card__thumb"><img src="theme/images/upload/pricing/bg.jpg" alt="" class="img-responsive"></figure>
                    <div class="pricing-card__body">
                        <div class="expand-title"><span class="cost">More Accessories...</span></div>
                    </div>
                </div>
            </div>
            <!--           end  blog cards           /-->
        </div>
        <!--           end hm-pricing__list           /-->
    </div>
</div>
