<main class="page-content">
    <!--           ¬ section-intro           /-->
    <section style="background-image: url(components/home/images/toronto2.jpg)" class="section-intro intro-repair parallax bg-dark">
        <div class="section-intro__inner container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <header class="section-intro__heading"><span class="h4">Leading Exhaust Industries</span>
                    <h1 class="text-danger">Golden Apple Corp.</h1>
                    <div class="divider-decor" style="margin-top: 20px">
                        <div class="div"></div>
                        <div class="div"></div>
                        <div class="div"></div>
                    </div>
                </header>
            </div>
        </div>
    </section>
    <!--           end section-intro           /-->

    <section class="tuning-row-service">
        <div class="row grid-row">
            <!--           ¬ grid-sizer           /-->
            <div class="col-xs-6 col-sm-3 grid-sizer"></div>
            <!--           end grid-sizer           /-->
            <!--           ¬ item-1           /-->
            <div class="col-xs-12 col-lg-6 grid-item">
                <div class="service-panel row">
                    <div class="col-xs-12 col-sm-6 col-sm-push-6 service-panel-body service-panel-body--left">
                        <div class="service-panel-body__inner">
                            <h4>Quality Materials</h4>
                            <p>Golden Apple supplies a wide range of high quality stainless steel performance exhaust tips. Our polished mirror finish 304 Stainless steel lasts longer and is easily installed.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6 service-panel__link hover-anim"><a ui-sref="home.products" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a><img src="components/home/images/steel_mufflers.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <!--           end item-1           /-->

            <!--           ¬ item-2           /-->
            <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                <div class="service-panel service-panel--column-bg row">
                    <div style="background-image: url(components/home/images/chrome_tips.jpg);" class="col-xs-12 service-panel__link hover-anim no-parallax"><a ui-sref="home.products.exhausts-specialized" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a>
                        <!--<h4 class="expand-title">Tire sales & setup</h4>-->
                    </div>
                </div>
            </div>
            <!--           end item-2           /-->

            <!--           ¬ item-3           /-->
            <div class="col-xs-12 col-sm-6 col-lg-3 grid-item">
                <div class="service-panel service-panel--column row">
                    <div class="col-xs-12 service-panel__link hover-anim"><a ui-sref="home.products.exhausts-stainless" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a><img src="components/home/images/custom_mufflers.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-xs-12 service-panel-body service-panel-body--bottom">
                        <div class="service-panel-body__inner">
                            <h4>Cutting-Edge Facilities</h4>
                            <p>Golden Apple is dedicated to manufacturing premium quality of auto exhaust parts for passenger and industrial vehicles. From the latest manufacturing facilities, cutting edge technologies, and a highly-dedicated team – we offer customers a comprehensive line of products.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--           end item-3           /-->

            <!--           ¬ item-4           /-->
            <div class="col-xs-12 col-lg-6 grid-item">
                <div class="service-panel row">
                    <div class="col-xs-12 col-xs-6 service-panel-body service-panel-body--right">
                        <div class="service-panel-body__inner">
                            <h4>Capabilities</h4>
                            <p>We are today’s most committed manufacturer in the automotive aftermarket industry. Our production capability ranges from medium sized order for garages or large orders for regional warehouses.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-xs-6 service-panel__link hover-anim"><a ui-sref="home.products.mufflers-performance" class="over-hover-link"><i class="icon pe-7s-exapnd2"></i><span class="over"></span></a><img src="components/home/images/performance_mufflers.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <!--end item-4           /-->
        </div>
    </section>
    <br>
    <div class="btn-wrapper" style="margin-top: 20px"><a role="button" ui-sref="home.products" class="btn btn-regular btn-dark"><span class="btn-text">view all products</span><span class="btn-over"></span></a>
    </div>

    <!--           end section services           /-->
    <!--           ¬ section about-us           /-->
    <section class="section-row section-about tuning-row-about" style="margin-top: 60px">
        <div class="container">
            <!--           ¬ section-header           /-->
            <header class="section-row-number">
                <h1><span>About Us</span></h1>
            </header>
            <!--           end section-header           /-->

            <!--           ¬ about-intro           /-->
            <section class="section-about__gallery-row row">
                <h2 class="hide">Section title</h2>
                <!--           ¬ about-panel           /-->
                <div class="section-about__panel section-about__repair col-sm-12 col-md-6">
                    <article class="panel about-panel">
                        <div class="panel__inner">
                            <header class="panel__heading"><span class="h4 panel__tab-title">Open Since 1999</span>
                                <h2 class="panel__title">Golden Apple Exhausts</h2>
                            </header>
                            <div class="panel__body">
                                <p>
                                    As one of the largest manufacturers and biggest suppliers in China, we specialize in export auto parts and accessories.
                                    Our main products include the exhaust system parts and accessories.
                                </p>
                                <p>
                                    The quality of our products are guaranteed by the scientific management and the quality control systems, which are thoroughly checked
                                    at all levels of the manufacturing process. Our skilled workers and advanced technicians assures each part will reach the quality you desire.
                                </p>
                            </div>
                            <footer class="panel__footer"><a ui-sref="home.about" role="button" class="btn btn-regular btn-accent"><span class="btn-text">view our workshop</span><span class="btn-over"></span></a>
                            </footer>
                        </div>
                    </article>
                </div>
                <!--           end about-panel           /-->

                <!--           ¬ about-slide           /-->
                <div class="tuning-row-about__slide col-sm-10 col-lg-8"><img src="components/home/images/factory.jpg" alt="" class="img-responsive"></div>
                <!--           end about-slide           /-->
            </section>
            <!--           end about-intro           /-->
            <section class="section-content">
                <header class="section-header">
                    <h2>Why to choose us</h2>
                    <div class="divider"></div>
                </header>
                <!--           ¬ services-features           /-->
                <div class="services-features">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 services-features__item">
                            <div class="img-wrap"><i class="icon pe-7s-config"></i></div>
                            <h5 class="services-features__caption">Premium quality parts</h5>
                        </div>
                        <div class="col-xs-12 col-sm-4 services-features__item">
                            <div class="img-wrap"><i class="icon pe-7s-piggy"></i></div>
                            <h5 class="services-features__caption">Affordable pricing</h5>
                        </div>
                        <div class="col-xs-12 col-sm-4 services-features__item">
                            <div class="img-wrap"><i class="icon pe-7s-users"></i></div>
                            <h5 class="services-features__caption">Qualified Mechanics</h5>
                        </div>
                    </div>
                </div>
                <!--           end services-features           /-->
            </section>


        </div>
    </section>
    <!--           end section about-us           /-->
    <section class="section-row section-contacts" style="margin-top: 60px">
        <div class="container">
            <!--           ¬ section-header           /-->
            <header class="section-row-header text-center" style="margin-bottom: 0">
                <h1>Contacts</h1>
                <div class="divider-decor">
                    <div class="div"></div>
                    <div class="div"></div>
                </div>
                <!--<p>Silent son man she wished mother. Distrusts allowance do knowledge eagerness assurance additions to.</p>-->
            </header>

            <!--           end section-header           /-->

            <!-- need to add css conversion for the two buttons -->
            <div class="btn-wrapper center-block" style="margin-top: 20px">
                <a ng-click="changeOffice(tianjin)" role="button" class="btn btn-regular btn-accent"><span class="btn-text">Tianjin Office</span><span class="btn-over"></span></a>
                <a ng-click="changeOffice(toronto)" role="button" class="btn btn-regular btn-accent"><span class="btn-text">Toronto Office</span><span class="btn-over"></span></a>
            </div>
        </div>

        <div class="section-content tuning-contacts-content row" style="height: 700px; margin-bottom: 0; margin-top: 60px">
            <!--           ¬ contacts panel           /-->

            <div class="col-xs-12 col-md-3 col-lg-3">
                <article class="panel tuning-contacts-panel">
                    <div class="panel__inner">
                        <header class="panel__heading">
                            <img src="components/home/images/logo.png" width="50%">
                            <h2 class="panel__title text-danger" style="vertical-align: bottom; display: inline-block">{{currentOffice.name}}</h2>
                        </header>
                        <!--           ¬ contacts-list           /-->
                        <div class="panel__body">
                            <p>Contact us if you have any inquiries about quotes or questions about our products, a team member will reply to you in a short while! Our hours of operation are listed below. Hope to hear from you! </p>
                            <div class="contacts-list">
                                <div class="contacts-list__item"><i class="icon pe-7s-map-2"></i>
                                    <ul>
                                        <li>{{currentOffice.address.address}}</li>
                                        <li>{{currentOffice.address.country}}</li>
                                    </ul>
                                </div>
                                <div class="contacts-list__item"><i class="icon pe-7s-phone"></i>
                                    <ul>
                                        <li><a>{{currentOffice.phoneNumbers.phone}}</a></li>
                                        <li><a>{{currentOffice.phoneNumbers.fax}}</a></li>
                                    </ul>
                                </div>
                                <div class="contacts-list__item"><i class="icon pe-7s-clock"></i>
                                    <ul>
                                        <li>{{currentOffice.officeHours.weekdays}}</li>
                                        <li>{{currentOffice.officeHours.weekends}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--           end contacts-list           /-->
                    </div>
                </article>
            </div>
            <!--           end contacts panel           /-->
            <div class="col-xs-12 col-md-5 col-lg-5">
                <div id="map" style="width: 100%"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <article class="panel tuning-contacts-panel">
                    <div class="panel__inner">
                        <div class="section-header" style="margin-top: 10px">
                            <h2>Send us a message</h2>
                            <div class="divider"></div>
                            <p>We will reply you in 48 hours (on business days).</p>
                        </div>
                        <div class="panel__body">
                            <!--           ¬ reservation form           /-->
                            <div class="reservation-form">
                                <form id="contactsForm" action="mailto:ava@gaexhaust.com" method="POST" data-toggle="validator">
                                    <div class="form-inner row">
                                        <div class="col-sm-6 form-group">
                                            <label for="contName" class="label-control">Your name</label>
                                            <div class="input-wrap input-wrap--icon-left"><i class="input-icon pe-7s-user"></i>
                                                <input id="contName" type="text" name="user_name" placeholder="Name" required class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="contEmail" class="label-control">Your e-mail</label>
                                            <div class="input-wrap input-wrap--icon-left"><i class="input-icon pe-7s-mail"></i>
                                                <input id="contEmail" type="email" name="user_email" placeholder="Email" required class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group">
                                            <label for="contMsg" class="label-control">Your message</label>
                                            <textarea id="contMsg" name="user_message" required class="form-control"></textarea>
                                        </div>

                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-regular btn-accent"><span class="btn-text">Contact us</span><span class="btn-over"></span></button>
                                        </div>
                                    </div>
                                </form>                            </div>
                            <!--           end reservation form           /-->
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!--           ¬ contacts row           /-->
        <!--           end contacts row           /-->
    </section>
</main>