<!--           ¬ Page footer           /-->
<footer class="page-footer" style="padding-top: 30px">
    <div class="container" style="width: 100%; padding-left: 100px; padding-right: 100px">
        <div class="row">
            <!--           ¬ item1           /-->
            <div class="col-rs col-xs-6 col-sm-6 col-lg-2 item item-1" style="margin-bottom: 0;">
                <img src="resources/images/GAP logo.png" style="width: 50%; height: 50%;padding-left: 20px">
                <br>
                <br>
                <p>© 2018 Golden Apple Corp. </p>
            </div>
            <div class="col-rs col-xs-6 col-sm-6 col-lg-3 item item-1" style="margin-bottom: 0">
                <h5 class="title">About us</h5>
                <p>A well maintained vehicle is derived from strong parts that hold it together in one piece. Our products will deliver that, including the performance that comes with it.</p>
            </div>
            <div class="col-rs col-xs-6 col-sm-6 col-lg-3 item item-1" style="margin-bottom: 0">
                <h4>Tianjin China</h4>
                <ul class="contacts-list-regular -white">
                    <li><i class="icon pe-7s-map-marker"></i><span>65 Youyi N Rd, Hexi District, Tianjin China</span></li>
                    <li><i class="icon pe-7s-phone"></i><a>86-22-85585197/98</a></li>
                    <li><i class="icon pe-7s-mail"></i><a>lily@gaexhaust.com</a></li>
                </ul>
            </div>
            <div class="col-rs col-xs-6 col-sm-6 col-lg-3 item item-1" style="margin-bottom: 0">
                <h4>Toronto Canada</h4>
                <ul class="contacts-list-regular -white">
                    <li><i class="icon pe-7s-map-marker"></i><span>887 Bay St, Toronto Ontario Canada</span></li>
                    <li><i class="icon pe-7s-phone"></i><a>416-509-2745</a></li>
                    <li><i class="icon pe-7s-mail"></i><a>ava@gaexhaust.com</a></li>
                </ul>
            </div>
            <div class="col-rs col-xs-6 col-sm-6 col-lg-1 item item-1" style="margin-bottom: 0">
                <ul class="contacts-list-regular -white">
                    <li><a ui-sref="home"><h4 style="margin-bottom: 0">Home</h4></a></li>
                    <li><a ui-sref=".products"><h4 style="margin-bottom: 0">Products</h4></a></li>
                    <li><a ui-sref=".about"><h4 style="margin-bottom: 0">About</h4></a></li>
                    <li><a ui-sref=".contact"><h4 style="margin-bottom: 0">Contact</h4></a></li>
                </ul>
            </div>

            <!--           end item1           /-->

            <!--&lt;!&ndash;           ¬ item2           /&ndash;&gt;-->
            <!--<div class="col-rs col-xs-6 col-sm-6 col-lg-3 item item-2">-->
                <!--<h4 class="title">Working hours</h4>-->
                <!--<ul class="page-footer__working">-->
                    <!--<li><span>Monday</span><span>8:00 — 21:00</span></li>-->
                    <!--<li><span>Tuesday</span><span>8:00 — 21:00</span></li>-->
                    <!--<li><span>Wednesday</span><span>8:00 — 21:00</span></li>-->
                    <!--<li><span>Thursday</span><span>8:00 — 21:00</span></li>-->
                    <!--<li><span>Friday</span><span>8:00 — 21:00</span></li>-->
                    <!--<li><span>Saturday</span><span>10:00 — 18:00</span></li>-->
                    <!--<li><span>Sunday</span><span>10:00 — 18:00</span></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;           end item2           /&ndash;&gt;-->

            <!--&lt;!&ndash;           ¬ item3           /&ndash;&gt;-->
            <!--<div class="col-xs-12 col-lg-3 item item-3">-->
                <!--<div class="page-footer__subscribe">-->
                    <!--<h4 class="title">Subscribe</h4>-->
                    <!--<p>Be the first who will know about Carros special offers and discount promotions! We promise not to spam</p>-->
                    <!--<div class="form-modul">-->
                        <!--<form id="footerForm" action="#" method="POST" data-toggle="validator">-->
                            <!--<div class="form-group">-->
                                <!--<label for="footerEmail" class="label-control">Enter your e-mail</label>-->
                                <!--<div class="input-wrap">-->
                                    <!--<input id="footerEmail" type="email" name="user_email" placeholder="user@example.com" required class="form-control">-->
                                    <!--<button type="submit" class="form-modul-btn"><i class="pe-7s-paper-plane"></i></button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;           end item3           /&ndash;&gt;-->

            <!--&lt;!&ndash;           ¬ item4           /&ndash;&gt;-->
            <!--<div class="col-xs-12 col-lg-3 item item-4">-->
                <!--<h4 class="title">Follow us</h4>-->
                <!--&lt;!&ndash;           ¬ social           /&ndash;&gt;-->
                <!--<div class="page-footer__social">-->
                    <!--<p class="list-title">We are in social networks:</p>-->
                    <!--<ul class="social-list">-->
                        <!--<li><a href="#" class="fa fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a></li>-->
                        <!--<li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a></li>-->
                        <!--<li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a></li>-->
                        <!--<li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash;           end social           /&ndash;&gt;-->

                <!--&lt;!&ndash;           ¬ instagram           /&ndash;&gt;-->
                <!--<div class="page-footer__instagram">-->
                    <!--<p class="list-title">Latest from Instagram</p>-->
                    <!--<ul class="instagram-list">-->
                        <!--<li><a href="#" class="instagram-list__link"><img src="../../../gapspeed/public/theme/images/upload/instagram1.jpg" alt="" class="img-responsive"></a></li>-->
                        <!--<li><a href="#" class="instagram-list__link"><img src="../../../gapspeed/public/theme/images/upload/instagram2.jpg" alt="" class="img-responsive"></a></li>-->
                        <!--<li><a href="#" class="instagram-list__link"><img src="../../../gapspeed/public/theme/images/upload/instagram3.jpg" alt="" class="img-responsive"></a></li>-->
                        <!--<li><a href="#" class="instagram-list__link"><img src="../../../gapspeed/public/theme/images/upload/instagram4.jpg" alt="" class="img-responsive"></a></li>-->
                        <!--<li><a href="#" class="instagram-list__link"><img src="../../../gapspeed/public/theme/images/upload/instagram5.jpg" alt="" class="img-responsive"></a></li>-->
                        <!--<li><a href="#" class="instagram-list__link"><img src="../../../gapspeed/public/theme/images/upload/instagram6.jpg" alt="" class="img-responsive"></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash;           end instagram           /&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;           end item4           /&ndash;&gt;-->
        </div>
    </div>
</footer>
<!--           end Page footer           /-->
