<nav class="navbar-white" role="navigation" style="padding-bottom: 0; height: 71px; border-bottom: 1px solid black">
    <div class="row" style="height: inherit">
        <div class="col-sm-3" style="height: 100%">
            <div style="text-align: center">
                <img src="resources/images/logo.png" style="height: 70px;width: auto;padding-bottom: 2px; padding-top: 2px">
                <span>EXHAUST INDUSTRIES</span>
            </div>
        </div>

        <div class="col-sm-9" style="height: 100%; padding-left: 0;">
            <!-- Search/Login -->

            <!-- Menu Tabs -->
            <div class="row" style="height: inherit; margin-right: 10px">
                <div class="tabs tabs-style-bar" style="height: inherit">
                    <nav>
                        <ul style="margin-right: 0px;">
                            <li class="menuTab" id="home"><a ui-sref="home" class="icon icon-home"><span>Home</span></a></li>
                            <li class="menuTab" id="products" ><a ui-sref="home.products" class="icon icon-plane"><span>Products</span></a></li>
                            <li class="menuTab" id="about" ><a ui-sref="home.about" class="icon icon-box"><span>About</span></a></li>
                            <li class="menuTab" id="contact"><a ui-sref="home.contact" class="icon icon-tools"><span>Contact</span></a></li>
                            <!--<li class="menuTab"><a href="http://help.mrbaffo.com/" class="icon icon-config"><span>FAQ</span></a></li>-->
                            <!--<li class="menuTab" id="home.login" ng-hide="loggedIn"><a ui-sref="home.login" class="icon icon-tools"><span>Login</span></a></li>-->
                            <!--<li class="menuTab" id="home.register" ng-hide="loggedIn"><a ui-sref="home.register" class="icon icon-config"><span>Sign Up</span></a></li>-->
                            <!--<li class="menuTab" ng-show="loggedIn && currentState === 'home'"><a ui-sref="user.order" class="icon icon-config"><span>Profile</span></a></li>-->
                            <!--<li class="menuTab" ng-show="loggedIn && currentState === 'user'"><a ng-click="logout()" class="icon"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>-->

                        </ul>
                    </nav>
                </div><!-- /tabs -->
            </div>
        </div>
    </div>
</nav>
