<nav class="navbar navbar-default navbar-tuning" data-skin="default">
    <div class="container">
        <div class="navbar-header">
            <div class="container">
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a ui-sref="home" class="navbar-brand"><span class="navbar-brand__image"><img src="resources/images/GAP logo.png" alt=""class="img-responsive"/></span><span class="navbar-brand__text">Exhausts</span></a>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--           ¬ navbar-menu           /-->
            <ul class="nav navbar-nav navbar-menu">

                <!--<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Home<span class="fa fa-caret-down"></span></a>-->
                    <!--<ul role="menu" class="dropdown-menu">-->
                        <!--&lt;!&ndash;<li><a href="index.html">Auto repair shop</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="tuning.html">Auto tuning service</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="retailer.html">Auto parts retailer</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Products<span class="fa fa-caret-down"></span></a>-->
                    <!--<ul role="menu" class="dropdown-menu">-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/tuning-services.html">Services list</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/tuning-service-details.html">Service details</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">About<span class="fa fa-caret-down"></span></a>-->
                    <!--<ul role="menu" class="dropdown-menu">-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/gallery-1.html">Gallery v1</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/gallery-2.html">Gallery v2</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/gallery-3.html">Gallery v3</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Contact<span class="fa fa-caret-down"></span></a>-->
                    <!--<ul role="menu" class="dropdown-menu">-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/blog-list-sidebar.html">Blog list sidebar</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/blog-post-sidebar.html">Blog single post sidebar</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/blog-grid.html">Blog grid</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../../../gapspeed/public/theme/pages/blog-grid-single-post.html">Blog single post</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="../../../gapspeed/public/theme/pages/tuning-about.html">About</a></li>-->
                <!--<li><a href="tuning-contacts.html">Contacts</a></li>-->


                <li  id="home"><a ui-sref="home" class="icon icon-home"><span>Home</span></a></li>
                <li  id="products" ><a ui-sref="home.products" class="icon icon-plane"><span>Products</span></a></li>
                <li  id="about" ><a ui-sref="home.about" class="icon icon-box"><span>About</span></a></li>
                <li  id="contact"><a ui-sref="home.contact" class="icon icon-tools"><span>Contact</span></a></li>
            </ul>
            <!--           end navbar-menu           /-->
        </div>
    </div></nav>
