<nav class="navbar-white" role="navigation" style="padding-bottom: 0; height: 71px; border-bottom: 1px solid black">
    <div class="row" style="height: inherit">
        <div class="col-sm-3" style="height: 100%">
            <div style="text-align: center">
                <img src="resources/images/logo_horizontal.png" style="height: 70px;width: auto;padding-bottom: 2px; padding-top: 2px">
            </div>
        </div>

        <div class="col-sm-9" style="height: 100%; padding-left: 0;">
            <!-- Search/Login -->

            <!-- Menu Tabs -->
            <div class="row" style="height: inherit; margin-right: 10px">
                <div class="tabs tabs-style-bar" style="height: inherit">
                    <nav>
                        <ul style="margin-right: 0px;">
                            <li class="userMenuTab"><a ui-sref="user.order" class="icon icon-tools"><span>Orders</span></a></li>
                            <li class="userMenuTab"><a ui-sref="user.referral" class="icon icon-config"><span>Referrals</span></a></li>
                            <li class="userMenuTab"><a ui-sref="user.account" class="icon icon-tools"><span>Account</span></a></li>
                            <li class="userMenuTab"><a ui-sref="user.admin" class="icon icon-tools"><span>Admin</span></a></li>
                            <li class="menuTab" ng-show="loggedIn && currentState === 'user'"><a ng-click="logout()" class="icon"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                        </ul>
                    </nav>
                </div><!-- /tabs -->
            </div>
        </div>
    </div>
</nav>