<main class="page-content">
    <!--           ¬ section intro           /-->
    <section style="background-image: url(resources/images/pattern.jpg)" class="intro-page parallax-repeat dark">
        <div class="container">
            <div class="intro-page__content-wrapper">
                <h1>About Us</h1>
            </div>
        </div>
    </section>
    <!--           end section intro           /-->

    <!--           ¬ page-content-wrapper           /-->
    <div class="page-content-wrapper">
        <div class="container">
            <div class="row">
                <!--           ¬ inner-content           /-->
                <div class="col-md-12">
                    <!--           ¬ about-panel           /-->
                    <section class="section-content">
                        <div class="panel about-panel">
                            <div class="panel__inner">
                                <header class="panel__heading text-center"><span class="h4 panel__tab-title">Leading Exhaust Industry</span>
                                    <h1 class="panel__title text-danger">Golden Apple</h1>
                                    <div class="divider-decor">
                                        <div class="div"></div>
                                        <div class="div"></div>
                                    </div>
                                </header>
                                <div class="panel__body">
                                    <p>
                                        Golden Apple, at first, was an exclusively owned Canadian company established in 1999, since then we have expanded and added factories and offices in China.
                                        At the very peak of an era that was outsourcing manufacturing processes from China, Golden Apple was one of the first few companies that were successful in this pursuit.
                                        Since then, Golden Apple has been supplying after-market auto parts for every type of vehicle, from compact cars to performance cars, to large suppliers and distributors from across the globe.
                                    </p>
                                    <p>
                                        Over the years, the automotive manufacturing business has become more competitive, and our mission always has and always will be is to continuously produce quality products that will exceed the expectations of each and every one of our customers.
                                        Our new and improved team of sales staff and quality control officers will thoroughly check and oversee products before they are delivered.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--           end about-panel           /-->

                    <!--           ¬ about-gallery           /-->
                    <section class="section-content">
                        <header class="section-header">
                            <h2>Our workshop inside</h2>
                            <div class="divider"></div>
                            <p>Golden Apple process stainless and aluminized sheet coils into straight tubes that are cut to varying sizes. We utilize; automated CNC cold saws cut tubing machines, automated metal stamping machines, automatic or manual pipe bending systems, and seam welding techniques to create quality auto parts to deliver great power, sound, and performance. </p>
                        </header>
                        <div class="grid-gallery about-gallery row">
                            <!--           ¬ grid-sizer           /-->
                            <div class="grid-sizer col-xs-6 col-sm-4"></div>
                            <!--           end grid-sizer           /-->

                            <!--           ¬ gallery-items          /-->
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/raw_tubes.jpg" class="grid-gallery-link"><img src="components/about/images/raw_tubes.jpg" style="width: 100%; height: 246px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-8 grid-item hover-anim"><a href="components/about/images/factory_sign.jpg" class="grid-gallery-link"><img src="components/about/images/factory_sign.jpg" style="width: 100%; height: 500px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/grouped_manifolds.jpg" class="grid-gallery-link"><img src="components/about/images/grouped_manifolds.jpg" style="width: 100%; height: 506px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/tube_making.jpg" class="grid-gallery-link"><img src="components/about/images/tube_making.jpg" style="width: 100%; height: 246px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/machine.jpg" class="grid-gallery-link"><img src="components/about/images/machine.jpg" style="width: 100%; height: 506px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/flange_making.jpg" class="grid-gallery-link"><img src="components/about/images/flange_making.jpg" style="width: 100%; height: 506px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/shandong_factory.jpg" class="grid-gallery-link"><img src="components/about/images/shandong_factory.jpg" style="width: 100%; height: 246px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/warehouse.jpg" class="grid-gallery-link"><img src="components/about/images/warehouse.jpg" style="width: 100%; height: 246px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <div class="col-rs col-xs-6 col-sm-4 grid-item hover-anim"><a href="components/about/images/steel_tubes.jpg" class="grid-gallery-link"><img src="components/about/images/steel_tubes.jpg" style="width: 100%; height: 246px" alt="" class="img-responsive"><span class="over-fade-link"><i class="icon pe-7s-search"></i></span></a></div>
                            <!--           end gallery-items           /-->
                        </div>
                    </section>
                    <!--           end about-gallery           /-->
                </div>
                <!--           end inner-content           /-->
            </div>
        </div>
        <!--           ¬ maintenance           /-->
        <!--           ¬ brands-row           /-->
        <section style="background: url('resources/images/pattern.jpg')" class="section-maintenance parallax-repeat accent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6">
                        <h2>Have a question or looking for a quote? We're here to help!</h2>
                    </div>
                    <div class="col-sm-5 col-md-6">
                        <button type="button" class="btn btn-regular btn-dark btn-lg" data-toggle="modal" data-target="#modalReserv"><span class="btn-text">Contact us</span><span class="btn-over"></span></button>
                    </div>
                </div>
            </div>
        </section>

        <div id="modalReserv" role="dialog" class="modal modal-reservation fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content-center">
                    <div style="background: url(&quot;images/pattern.jpg&quot;)" class="panel parallax-repeat dark">
                        <div class="panel__inner">
                            <div class="section-header">
                                <button type="button" data-toggle="modal" data-target="#modalReserv" class="btn-close"><span class="btn-close__bar"></span><span class="btn-close__bar"></span></button>
                                <h2>Send us a message</h2>
                                <div class="divider"></div>
                                <p>We will reply you in 48 hours (on business days).</p>
                            </div>
                            <div class="panel__body">

                                <!--           ¬ reservation form           /-->
                                <div class="reservation-form">
                                    <form id="contactsForm" action="mailto:ava@gaexhaust.com" method="POST" data-toggle="validator">
                                        <div class="form-inner row">
                                            <div class="col-sm-6 form-group">
                                                <label for="contName" class="label-control">Your name</label>
                                                <div class="input-wrap input-wrap--icon-left"><i class="input-icon pe-7s-user"></i>
                                                    <input id="contName" type="text" name="user_name" placeholder="David Kraemer" required class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="contEmail" class="label-control">Your e-mail</label>
                                                <div class="input-wrap input-wrap--icon-left"><i class="input-icon pe-7s-mail"></i>
                                                    <input id="contEmail" type="email" name="user_email" placeholder="user@example.com" required class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 form-group">
                                                <label for="contMsg" class="label-control">Your message</label>
                                                <textarea id="contMsg" name="user_message" required class="form-control"></textarea>
                                            </div>

                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-regular btn-accent"><span class="btn-text">Contact us</span><span class="btn-over"></span></button>
                                            </div>
                                        </div>
                                    </form>                            </div>
                                <!--           end reservation form           /-->
                            </div>
                            <div class="panel__footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--           end maintenance           /-->
    </div>
    <!--           end page-content-wrapper           /-->
</main>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div><a href="#" role="button" class="close"><i class="pe-7s-close"></i></a>
    <div id="galleryTrack" class="gallery-controls container">
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        <div class="gallery-controls__track">
            <ul class="indicator"></ul>
        </div>
        <div class="gallery-controls__row-btn bg-danger text-center"><a href="#" role="button" class="btn prevPage"><i class="icon pe-7s-prev"></i>&nbsp;<span class="btn-text">page</span></a><a href="#" role="button" class="btn btn-accent prev"><i class="icon pe-7s-angle-left"></i><span class="btn-text">prev</span></a><a href="#" role="button" class="btn play-pause"><i class="icon play fa fa-play"></i><i class="icon pause fa fa-pause"></i></a><a href="#" role="button" class="btn next"><span class="btn-text">next</span><i class="icon pe-7s-angle-right"></i></a><a href="#" role="button" class="btn nextPage"><span class="btn-text">page</span>&nbsp;<i class="icon pe-7s-next"></i></a></div>
    </div>
</div>
